<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLiTraSua.Properties.Settings.QLTSConnectionString"
            connectionString="Data Source=DESKTOP-FJ9L898;Initial Catalog=QLTS;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient" />
        <add name="QuanLiTraSua.Properties.Settings.QLTSConnectionString1"
            connectionString="Data Source=DESKTOP-FJ9L898;Initial Catalog=QLTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>